# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# File backups
*~
*.swp
*.autosave

# User settings
*.user

# Build folder objects
build/*
